@font-face {
  font-family: "iconfont"; /* Project id 2522188 */
  src: url('iconfont.woff2?t=1641437586837') format('woff2'),
       url('iconfont.woff?t=1641437586837') format('woff'),
       url('iconfont.ttf?t=1641437586837') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont12 {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchuwenjian:before {
  content: "\e600";
}

.icon-quanxianguanli:before {
  content: "\e630";
}

.icon-xiaoxituisong:before {
  content: "\e60f";
}

.icon-xiaoxiguanli:before {
  content: "\e65a";
}

.icon-xiaoxi:before {
  content: "\e73f";
}

.icon-renmintiaojie:before {
  content: "\e6f9";
}

.icon-menu_dlrz:before {
  content: "\e64b";
}

.icon-rizhi:before {
  content: "\e63e";
}

.icon-niandu:before {
  content: "\e63c";
}

.icon-yuebao:before {
  content: "\e63d";
}

.icon-shouji1:before {
  content: "\e6a1";
}

.icon-riqi1:before {
  content: "\e64a";
}

.icon-quanping:before {
  content: "\e60e";
}

.icon-taizhang:before {
  content: "\e621";
}

.icon-falv:before {
  content: "\e602";
}

.icon-jilu:before {
  content: "\e6dc";
}

.icon-danganjianying:before {
  content: "\e657";
}

.icon-caogaoxiang:before {
  content: "\e64f";
}

.icon-form:before {
  content: "\ebe8";
}

.icon-ziyuan:before {
  content: "\e614";
}

.icon-xinlidanganguanli:before {
  content: "\e68f";
}

.icon-daohang_fuwuneirongguanli:before {
  content: "\e643";
}

.icon-tijiao:before {
  content: "\e633";
}

.icon-gerenxinxi:before {
  content: "\e619";
}

.icon-leibie:before {
  content: "\e67d";
}

.icon-buxianshimima:before {
  content: "\e677";
}

.icon-xianshimima:before {
  content: "\e613";
}

.icon-zhanghao:before {
  content: "\e60d";
}

.icon-iconzh1:before {
  content: "\e636";
}

.icon-yanzhengma:before {
  content: "\e6bf";
}

.icon-mima:before {
  content: "\e617";
}

.icon-qizhi:before {
  content: "\e637";
}

.icon-huajieqingkuang:before {
  content: "\e780";
}

.icon-gongzuobaogao1:before {
  content: "\e69f";
}

.icon-ribaodaily19:before {
  content: "\e6c6";
}

.icon-hongqi:before {
  content: "\e641";
}

.icon-chenggonganli:before {
  content: "\e632";
}

.icon-gongzuobaogao:before {
  content: "\e60b";
}

.icon-dayin:before {
  content: "\e623";
  margin-right:5px;
}

.icon-baobiaozhongxin:before {
  content: "\e634";
}

.icon-fanhui1:before {
  content: "\e607";
  margin-right:5px;
}

.icon-paibanguanli:before {
  content: "\e612";
}

.icon-shiziduiwu:before {
  content: "\e6cd";
}

.icon-ditu:before {
  content: "\e655";
}

.icon-ziyuan206:before {
  content: "\e721";
}

.icon-kaoqin:before {
  content: "\e716";
}

.icon-ditu1:before {
  content: "\e61f";
}

.icon-yanjiuyuan:before {
  content: "\e659";
}

.icon-yewu:before {
  content: "\ea2b";
}

.icon-temporary-authorization:before {
  content: "\e601";
}

.icon-shequ:before {
  content: "\e66b";
}

.icon-cunchupitchon:before {
  content: "\e611";
}

.icon-daibanshixiang:before {
  content: "\e656";
}

.icon-liebiao:before {
  content: "\e620";
}

.icon-heimingdan:before {
  content: "\e7ba";
}

.icon-zongheguanli:before {
  content: "\e642";
}

.icon-lingdaoguanhuai:before {
  content: "\e686";
}

.icon-fanhui:before {
  content: "\e609";
  margin-right:5px;
}

.icon-xiazai12:before {
  content: "\e60c";
}

.icon-zhongdianrenyuan-shangfangrenyuan:before {
  content: "\e635";
}

.icon-zhongdianshangfangrenyuan:before {
  content: "\e676";
}

.icon-copy-rect-full:before {
  content: "\ea30";
}

.icon-zhuanti:before {
  content: "\e629";
}

.icon-tubiao209:before {
  content: "\e61a";
}

.icon-shouji:before {
  content: "\e615";
}

.icon-date:before {
  content: "\e62b";
}

.icon-riqi:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e653";
}

.icon-shouyejianying:before {
  content: "\e654";
}

.icon-rizhiguanli:before {
  content: "\e639";
}

.icon-jiaoseguanli:before {
  content: "\ea62";
}

.icon-peizhiguanli:before {
  content: "\e604";
}

.icon-caidanguanli:before {
  content: "\e7c0";
}

.icon-bumenrenyuanguanli:before {
  content: "\e63a";
}

.icon-zidianguanli:before {
  content: "\e63b";
}

.icon-biaoqianguanli:before {
  content: "\e62a";
}

.icon-xitongguanli:before {
  content: "\e7cd";
}

.icon-yonghuguanli:before {
  content: "\e603";
}

.icon-bumenguanli:before {
  content: "\e605";
}

.icon-caidanguanli1:before {
  content: "\e885";
}

.icon-icon-test:before {
  content: "\e60a";
}

.icon-tuichu:before {
  content: "\e688";
}

.icon-tuichu1:before {
  content: "\e61d";
  margin-right:5px;
}

.icon-daochu:before {
  content: "\e666";
  margin-right:5px;
}

.icon-daoru:before {
  content: "\e664";
  margin-right:5px;
}

